@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">产品信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">Protocol_ID</th>
                    <td class="formValue">
                        <input id="F_PROTOCOL_ID" name="F_PROTOCOL_ID" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">Label_ID</th>
                    <td class="formValue">
                        <input id="F_LABEL_ID" name="F_LABEL_ID" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">Version</th>
                    <td class="formValue">
                        <input id="F_VERSION" name="F_VERSION" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Country</th>
                    <td class="formValue">
                        <input id="F_COUNTRY" name="F_COUNTRY" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">Label Content1</th>
                    <td class="formValue">
                        <input id="F_CONTENT1" name="F_CONTENT1" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content2</th>
                    <td class="formValue">
                        <input id="F_CONTENT2" name="F_CONTENT2" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content3</th>
                    <td class="formValue">
                        <input id="F_CONTENT3" name="F_CONTENT3" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content4</th>
                    <td class="formValue">
                        <input id="F_CONTENT4" name="F_CONTENT4" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content5</th>
                    <td class="formValue">
                        <input id="F_CONTENT5" name="F_CONTENT5" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content6</th>
                    <td class="formValue">
                        <input id="F_CONTENT6" name="F_CONTENT6" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content7</th>
                    <td class="formValue">
                        <input id="F_CONTENT7" name="F_CONTENT7" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content8</th>
                    <td class="formValue">
                        <input id="F_CONTENT8" name="F_CONTENT8" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content9</th>
                    <td class="formValue">
                        <input id="F_CONTENT9" name="F_CONTENT9" type="text" class="form-control " />
                    </td>
                    <th class="formTitle">Label Content10</th>
                    <td class="formValue">
                        <input id="F_CONTENT10" name="F_CONTENT10" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content11</th>
                    <td class="formValue">
                        <input id="F_CONTENT11" name="F_CONTENT11" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content12</th>
                    <td class="formValue">
                        <input id="F_CONTENT12" name="F_CONTENT12" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content13</th>
                    <td class="formValue">
                        <input id="F_CONTENT13" name="F_CONTENT13" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content14</th>
                    <td class="formValue">
                        <input id="F_CONTENT14" name="F_CONTENT14" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content15</th>
                    <td class="formValue">
                        <input id="F_CONTENT15" name="F_CONTENT15" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content16</th>
                    <td class="formValue">
                        <input id="F_CONTENT16" name="F_CONTENT16" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content17</th>
                    <td class="formValue">
                        <input id="F_CONTENT17" name="F_CONTENT17" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content18</th>
                    <td class="formValue">
                        <input id="F_CONTENT18" name="F_CONTENT18" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content19</th>
                    <td class="formValue">
                        <input id="F_CONTENT19" name="F_CONTENT19" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content20</th>
                    <td class="formValue">
                        <input id="F_CONTENT20" name="F_CONTENT20" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content21</th>
                    <td class="formValue">
                        <input id="F_CONTENT21" name="F_CONTENT21" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content22</th>
                    <td class="formValue">
                        <input id="F_CONTENT22" name="F_CONTENT22" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">Label Content23</th>
                    <td class="formValue">
                        <input id="F_CONTENT23" name="F_CONTENT23" type="text" class="form-control " />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">Label Content24</th>
                    <td class="formValue">
                        <input id="F_CONTENT24" name="F_CONTENT24" type="text" class="form-control " />
                    </td>
                    <th class="formTitle">Label Content25</th>
                    <td class="formValue">
                        <input id="F_CONTENT25" name="F_CONTENT25" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form> 

<script src="~/Content/js/framework-FormVar.js"></script>
<script src="~/Areas/PrintManage/Contect/js/Document/Form.js"></script>
<script src="~/Content/js/framework-Form.js"></script>