@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div class="form row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle">上级</th>
                    <td class="formValue">
                        <select id="F_ParentId" name="F_ParentId" class="form-control required">
                            <option value="0">父节点</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="F_FullName" name="F_FullName" type="text" class="form-control required" placeholder="请输入名称" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle">连接</th>
                    <td class="formValue">
                        <input id="F_UrlAddress" name="F_UrlAddress" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle">目标</th>
                    <td class="formValue">
                        <select id="F_Target" name="F_Target" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="expand" title="expand">无页面</option>
                            <option value="iframe" title="iframe">框架页</option>
                            <option value="open" title="open">弹出页</option>
                            <option value="blank" title="blank">新窗口</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle">图标</th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="F_Icon" name="F_Icon" type="text" class="form-control">
                            <span class="input-group-btn">
                                <a class="btn btn-primary" onclick="SelectIcon()"><i class="fa fa-ellipsis-h"></i></a>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle">排序</th>
                    <td class="formValue">
                        <input id="F_SortCode" name="F_SortCode" type="text" class="form-control required" placeholder="请输入排序" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle" style="height: 35px;">选项</th>
                    <td class="formValue" colspan="3" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="F_IsMenu" name="F_IsMenu" type="checkbox"><label for="F_IsMenu">菜单</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsPublic" name="F_IsPublic" type="checkbox"><label for="F_IsPublic">公共</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsExpand" name="F_IsExpand" type="checkbox"><label for="F_IsExpand">展开</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_AllowEdit" name="F_AllowEdit" type="checkbox"><label for="F_AllowEdit">允许编辑</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_AllowDelete" name="F_AllowDelete" type="checkbox"><label for="F_AllowDelete">允许删除</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsApp" name="F_IsApp" type="checkbox"><label for="F_IsApp">是否App</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        描述
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" class="form-control" style="height: 100px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div> 
</form>

<script src="~/Content/js/framework-FormVar.js"></script>
<script src="~/Areas/SystemManage/Content/js/Module/Form.js"></script>
<script src="~/Content/js/framework-Form.js"></script>