@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">上级</th>
                    <td class="formValue">
                        <select id="F_ParentId" name="F_ParentId" class="form-control required">
                            <option value="0">父节点</option>
                        </select>
                    </td>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="F_FullName" name="F_FullName" type="text" class="form-control required" placeholder="请输入名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">编号</th>
                    <td class="formValue">
                        <input id="F_EnCode" name="F_EnCode" type="text" class="form-control required" placeholder="请输入编号" />
                    </td>
                    <th class="formTitle">所属页面</th>
                    <td class="formValue">
                        <input id="F_Page" name="F_Page" type="text" class="form-control required" placeholder="请输入所属页面" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">表格ID</th>
                    <td class="formValue">
                        <input id="F_GridId" name="F_GridId" type="text" class="form-control required" placeholder="请输入表格ID" value="gridList" />
                    </td>
                    <th class="formTitle">列显示</th>
                    <td class="formValue">
                        <input id="F_Label" name="F_Label" type="text" class="form-control" placeholder="请输入列显示" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">后台字段</th>
                    <td class="formValue">
                        <input id="F_Name" name="F_Name" type="text" class="form-control" placeholder="请输入后台字段" disabled="disabled" />
                    </td>
                    <th class="formTitle">宽度</th>
                    <td class="formValue">
                        <input id="F_Width" name="F_Width" type="text" class="form-control" placeholder="请输入宽度" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">对齐方式</th>
                    <td class="formValue">
                        <select id="F_Align" name="F_Align" class="form-control" disabled="disabled">
                            <option value="left">左对齐</option>
                            <option value="center">居中对齐</option>
                            <option value="right">右对齐</option>
                        </select>
                    </td>
                    <th class="formTitle">排序</th>
                    <td class="formValue">
                        <input id="F_SortCode" name="F_SortCode" type="text" class="form-control" placeholder="请输入排序" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" style="height: 35px;">选项</th>
                    <td class="formValue" colspan="3" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="F_Hidden" name="F_Hidden" type="checkbox" disabled="disabled"><label for="F_Hidden">是否隐藏</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_Key" name="F_Key" type="checkbox" disabled="disabled"><label for="F_Key">是否主键</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_Editable" name="F_Editable" type="checkbox" disabled="disabled"><label for="F_Editable">是否启用编辑</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        formatter
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Formatter" name="F_Formatter" class="form-control" style="height: 100px;" disabled="disabled"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        formatoptions
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Formatoptions" name="F_Formatoptions" class="form-control" style="height: 80px;" disabled="disabled"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>


<script src="~/Content/js/framework-FormVar.js"></script>
<script src="~/Areas/SystemManage/Content/js/GridColumn/Form.js"></script>
<script src="~/Content/js/framework-Form.js"></script>