@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <table id="filterTable" class="form">
        <tr>
            <th class="formTitle">单据编号</th>
            <td class="formValue">
                <input id="F_Id" name="F_Id" type="text" class="form-control" readonly="readonly" style="display:none" placeholder="保存后生成" />
                <input id="F_EnCode" name="F_EnCode" type="text" class="form-control" readonly="readonly" placeholder="保存后生成" />
            </td>
            <th class="formTitle">制单人</th>
            <td class="formValue">
                <input id="F_Operator" name="F_Operator" type="text" class="form-control" readonly="readonly" value="@ViewBag.UserName" />
            </td>
            <th class="formTitle">单据日期</th>
            <td class="formValue">
                <input id="F_Date" name="F_Date" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
            </td>
            <th class="formTitle">退货原因</th>
            <td class="formValue">
                <input id="F_Description" name="F_Description" type="text" class="form-control" placeholder="请输入退货原因" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">客户</th>
            <td class="formValue">
                @*<input id="F_CustomerName" name="F_CustomerName" type="text" class="form-control required" readonly="readonly" />*@
                <input id="F_CustomerId" name="F_CustomerId" type="text" style="display:none" class="form-control required" readonly="readonly" />
              <input id="F_CustomerName" name="F_CustomerName" type="text" class="form-control required" readonly="readonly" />

            </td>
            <th class="formTitle">联系人</th>
            <td class="formValue">
                <input id="F_Contacts" name="F_Contacts" type="text" class="form-control required" readonly="readonly" />
            </td>
            <th class="formTitle">电话</th>
            <td class="formValue">
                <input id="F_TelePhone" name="F_TelePhone" type="text" class="form-control" readonly="readonly" />
            </td>
            <th class="formTitle" style="padding-top: 5px;">地址 </th>
            <td class="formValue">
                <input id="F_Address" name="F_Address" type="text" class="form-control required" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div class="pull-left" style="padding:10px" id="rowTools">
                    <a id="btn_addDetail" class="btn btn-primary" onclick="Tools().add()">新增行</a>
                    @*<a id="btn_editDetail" class="btn btn-warning" onclick="Tools().edit()">修改行</a>*@
                    <a id="btn_deleteDetail" class="btn btn-danger" onclick="Tools().del()">删除行</a>
                </div>
                <div class="pull-left" style="padding:10px" id="rowToolsEdit">
                    <a id="btn_BeginBathEdit" class="btn btn-primary edit" onclick="Tools().BeginBathEdit(this)">批量修改</a>
                    <a id="btn_EndBathEdit" class="btn btn-primary finish" style="display:none" onclick="Tools().EndBathEdit(this)">批量保存</a>
                    <a id="btn_CancelEdit" class="btn btn-danger ui-icon-desc" style="display:none" onclick="Tools().CancelEdit(this)">取消编辑</a>
                </div>
                <div class="pull-right" style="padding:10px">
                    <a id="btn_Printbarcode" class="btn btn-info" onclick="Tools().printBarcode()">打印单据</a>
                    <a id="btn_verify" class="btn btn-warning" onclick="Tools().verify()">审核单据</a>
                    @*<a id="btn_noverify" class="btn btn-danger" onclick="Tools().noverify()">反审核</a>*@
               
                    <a id="btn_save" class="btn btn-primary" onclick="Tools().save()">保存单据</a>
                </div>
            </td>
        </tr>
    </table>
    <div class="gridPanel">
        <table id="gridList"></table>
    </div>
    
</form>


<script src="~/Content/js/framework-FormVar.js"></script>
<script src="~/Areas/WmsManage/Content/js/ReturnedStock/Form.js"></script>
<script src="~/Content/js/framework-Form.js"></script>
<script src="~/Content/js/indextab.js"></script>
