@{
    ViewBag.Title = "批量设置";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div class="topPanel">
        <div class="form">
            <div id="inputgroup">
                <table>
                    <tr>
                        <th class="formTitle">批号</th>
                        <td class="formValue">
                            <input id="inputdata" type="text" class="form-control required" placeholder="请输入" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="selectgroup">
                <table>
                    <tr>
                        <th class="formTitle">批号</th>
                        <td class="formValue">
                            <input id="selectdata" type="text" class="form-control required" placeholder="请输入" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dategroup">
                <table>
                    <tr>
                        <th class="formTitle">批号</th>
                        <td class="formValue">
                            <input id="datedata" type="text" class="form-control required" placeholder="请输入" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
<script src="~/Content/js/framework-GridBatchSet.js"></script>