
<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <link href="~/Content/plugins/uploadify/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/uploadify/fileinput.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <style>
        .bttnn{
            background:#1ABC9C;
            color:white;
        }
    </style>
</head>
<body>


    <form id="form1" enctype="multipart/form-data">
        <input id="upEx" name="Filedata"  type="file" data-show-caption="true">
    </form>

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/plugins/uploadify/bootstrap.min.js"></script>
    <script src="~/Content/plugins/uploadify/fileinput.js"></script>
    <script src="~/Content/plugins/uploadify/zh.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/framework-Uploadify.js"></script>
   
</body>
</html>