USE [KGM_WMS_DB]
GO
/****** Object:  StoredProcedure [dbo].[TEMPSCAN_FINISH]    Script Date: 2019/3/28 10:45:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (select * from sys.procedures where object_id = OBJECT_ID(N'[dbo].[TEMPSCAN_FINISH]'))
   drop proc [dbo].[TEMPSCAN_FINISH]
go
CREATE PROC [dbo].[TEMPSCAN_FINISH]
@ORDERNO NVARCHAR(50),		--单据号
@ORDERTYPE NVARCHAR(50),	--单据类型
@CMPOSCODE NVARCHAR(50),    --移入库位
@CMCWHCODE NVARCHAR(50)     --移入仓库
AS
SET XACT_ABORT ON
BEGIN TRAN  
DECLARE @RESULT INT		--返回状态
DECLARE @MSG NVARCHAR(4000)	--返回信息

IF @ORDERTYPE = 'PI'
BEGIN  
	EXEC [TEMPSCAN_FINISH_PI] @ORDERNO,@ORDERTYPE,@RESULT OUTPUT,@MSG OUTPUT
END 
ELSE IF @ORDERTYPE = 'SO'
BEGIN  
	EXEC [TEMPSCAN_FINISH_SO] @ORDERNO,@ORDERTYPE,@RESULT OUTPUT,@MSG OUTPUT
END 
ELSE IF @ORDERTYPE = 'CW'
BEGIN  
	EXEC [TEMPSCAN_FINISH_CW] @ORDERNO,@ORDERTYPE,@RESULT OUTPUT,@MSG OUTPUT
END 
ELSE IF @ORDERTYPE = 'MP'
BEGIN  
	EXEC [TEMPSCAN_FINISH_MP] @ORDERNO,@ORDERTYPE,@CMPOSCODE,@CMCWHCODE,@RESULT OUTPUT,@MSG OUTPUT
END 


SELECT @RESULT RESULT,@MSG MSG
IF @RESULT = 0
BEGIN
	ROLLBACK
END
ELSE
BEGIN
	COMMIT TRAN
END


 