<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>错误页面</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon.ico">
    <link href="../../assets/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../assets/css/app-errorpage.css" rel="stylesheet" />
</head>

<body class="fix-header card-no-border">
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 id="errorcode" class="errorCode"></h1>
                <h3 id="errordesc"></h3> 
                <a id="back" href="javascript:;" class="btn btn-primary">返 回</a>
            </div>
        </div>
    </section>
    <script src="../../assets/plugin/jquery/jquery-1.10.2.min.js"></script>
    <script src="../../utils/app.js"></script> 
    <script src="../../assets/js/app-errorpage.js"></script>
</body>

</html>