IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[SYS_GETTREEINFO]') AND OBJECTPROPERTY(id,N'IsProcedure') = 1)
	DROP PROC [SYS_GETTREEINFO]
GO 
/*
	获取递归属性结构
*/
CREATE PROC SYS_GETTREEINFO
@TABLENAME NVARCHAR(50),	--表名
@KEYFILED NVARCHAR(50),		--KEY
@PARENTFILED NVARCHAR(50),	--父节点
@CONDITION NVARCHAR(4000),	--过滤条件
@SORTCODE NVARCHAR(50),		--排序字段
@CTYPE INT					--类别 0 父找子 1 子找父 2 不寻找直接全部查询
AS
DECLARE @SQL NVARCHAR(4000)
IF @CTYPE = 0
BEGIN
	SET @SQL = '
		WITH T  AS(
			SELECT * FROM '+@TABLENAME+' WHERE 1 = 1 ' + @CONDITION + '
			UNION ALL
			SELECT B.* FROM '+@TABLENAME+' AS B INNER JOIN T ON B.'+@PARENTFILED+' = T.'+@KEYFILED+'
		) SELECT DISTINCT * FROM T ' + @SORTCODE 
END
ELSE IF @CTYPE = 1
BEGIN
	SET @SQL = '
		WITH T  AS(
			SELECT * FROM '+@TABLENAME+' WHERE 1 = 1 ' + @CONDITION + '
			UNION ALL
			SELECT B.* FROM '+@TABLENAME+' AS B INNER JOIN T ON B.'+@KEYFILED+' = T.'+@PARENTFILED+'
		) SELECT DISTINCT * FROM T ' +@SORTCODE
END
ELSE
BEGIN
	SET @SQL = 'SELECT DISTINCT * FROM '+@TABLENAME +' WHERE 1 = 1 ' + @CONDITION + @SORTCODE
END

EXEC (@SQL)

