<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--采用最新版本的IE文档模式渲染页面-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--移动设备优先，让viewport等于设备宽度，初始化缩放比例为1-->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/mylogo.png">
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
  
    <link href="~/Content/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/wdtree/tree.css" rel="stylesheet" />
    <link href="~/Content/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet"  />

    <script src="~/Content/plugins/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/bootstrap/bootstrap.js"></script>
    <script src="~/Content/plugins/layout/jquery.layout.js"></script>
    <script src="~/Content/plugins/wdtree/tree.js"></script>
    <script src="~/Content/plugins/jqgrid/jqgrid.min.js"></script>
    <script src="~/Content/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Content/js/framework-ui.js"></script>

    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>

    <!--引入bootstrap的css压缩版，比普通版的体积小-->
    <!--[if lt IE 9]>
    <script src="~/Content/plugins/bootstrap-3.3.7-dist/js/html5shiv.js"></script>
    <script src="~/Content/plugins/bootstrap-3.3.7-dist/js/respond.js"></script>
        <![endif]-->
    <!--html5shiv.js让IE6,7,8支持html5-->
    <!--respond.js让IE6,7,8支持媒体查询-->
</head>
<body>
    <div>
        @RenderBody()
        @Html.AntiForgeryToken()
    </div>
</body>
</html>
